accelerate==0.15.0
alembic==1.8.1
argon2_cffi==21.3.0
broadcaster[redis]==0.2.0
celery[redis]==5.2.7
diffusers==0.11.1
email-validator==1.3.0
fastapi==0.88.0
httpx==0.23.1
motor==3.1.1
numpy==1.24.1
pandas==1.5.2
passlib==1.7.4
Pillow==9.4.0
python-multipart==0.0.5
scikit-learn==1.2.0
sqlalchemy[asyncio,mypy]==2.0.0
starlette-csrf==1.4.5
transformers[torch]==4.25.1

uvicorn[standard]

aiosqlite
asgi_lifespan
black
httpx-ws
mypy
pandas-stubs
pytest
pytest-asyncio
pytest-cov
ruff
types-passlib
types-Pillow
