alembic==1.11.1
argon2_cffi==21.3.0
broadcaster[redis]==0.2.0
diffusers==0.17.0
dramatiq[redis]==1.14.2
email-validator==2.0.0.post2
fastapi==0.96.0
httpx==0.24.1
loguru==0.7.0
minio==7.1.15
motor==3.1.2
numpy==1.24.3
pandas==2.0.2
passlib==1.7.4
Pillow==9.5.0
prometheus-fastapi-instrumentator==6.0.0
pydantic==1.10.9
python-multipart==0.0.6
scikit-learn==1.2.2
sqlalchemy[asyncio,mypy]==2.0.15
starlette-csrf==2.0.0
transformers[torch]==4.30.0

uvicorn[standard]

aiosqlite
asgi_lifespan
black
httpx-ws
mypy
pandas-stubs
pytest
pytest-asyncio
pytest-cov
ruff
types-passlib
types-Pillow
